* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  padding-top: 60vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3)), url(/img/Intro.jpg) center top;
  background-size: cover;
}

.home__name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.home__name--last {
  color: #1a1025;
  font-weight: 700;
}

@media screen and (max-width: 490px) {
  .home__name--last {
    position: relative;
    bottom: 35px;
  }
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #1f1e1e;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #1f1e1e;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #1f1e1e;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}

.nav.scrolled {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 80%, rgba(0, 0, 0, 0) 90%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  transition: all 0.5s ease-in-out;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #ffffff;
  list-style-type: none;
  padding: 1rem 1rem 1.5rem 0;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  transform: translateY(0);
}

.nav .menu-nav__item {
  padding-bottom: .5rem;
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item.open {
  transform: translateX(0);
}

.nav .menu-nav__item.active > a {
  color: #1a1025;
}

.nav .menu-nav__link {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  border-bottom: 3px solid transparent;
}

.nav .menu-nav__link:hover {
  color: #002d80;
  border-bottom: 3px solid #002d80;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.menu-nav__item:nth-child(5) {
  transition-delay: 0.65s;
}

.about {
  padding-bottom: 2rem;
  overflow-x: hidden;
}

.about__bio-image {
  width: 100vw;
  height: 600px;
  background: url(/img/Bio.JPG) center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.about__bio-image p {
  margin-bottom: 2rem;
}

.about__bio {
  margin: 2rem;
}

.about__bio .text-secondary {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
}

.about .jobs {
  margin: 2rem 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.about .jobs h1 {
  font-size: 2rem;
}

.about .jobs__job {
  background: white;
  padding: 0.5rem;
}

.about .jobs__job h2,
.about .jobs__job h3 {
  margin: 0.5rem 0;
}

.about .jobs__job h6 {
  margin: 0.3rem 0;
}

.about .social-icons {
  display: flex;
  flex-direction: column;
}

.about footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.projects {
  background-color: #e9e9e9;
  overflow: hidden;
  padding-top: 2rem;
  /* project container */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a grey background color */
}

.projects .text-secondary {
  font-size: 3rem;
  text-align: center;
  margin: 3rem auto 1rem;
}

.projects .project-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e9e9e9;
  border-bottom: 2px solid gray;
  padding: 3rem;
}

.projects .project-container:last-of-type {
  border-bottom: none;
}

.projects .project-container .slideshow-container {
  max-width: 1000px;
  padding: 2rem;
  position: relative;
  margin: auto;
  display: flex;
  width: 90%;
}

.projects .project-container .video-container {
  max-width: 1000px;
  position: relative;
  width: 50%;
  margin: auto;
}

.projects .project-container .video-container .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 2px;
  height: 0;
}

.projects .project-container .video-container .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects .project-container .project-text-container {
  align-items: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}

.projects .project-container .project-text-container h1 {
  margin: 1rem 0;
}

.projects .prev,
.projects .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.projects .next {
  right: 32px;
  border-radius: 3px 0 0 3px;
}

.projects .prev:hover,
.projects .next:hover {
  background-color: #f1f1f1;
  color: black;
}

.projects .social-icons {
  display: none;
  flex-direction: column;
}

.projects footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.swiper {
  width: 50%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: unset;
}

@media screen and (max-width: 1024px) {
  .swiper-button {
    display: none;
  }
}

.gallery .text-secondary {
  font-size: 3rem;
  text-align: center;
  margin: 2rem auto;
}

.gallery .swiper {
  width: 100%;
  height: 60%;
}

.gallery .swiper-slide img {
  width: 85%;
}

@media screen and (min-width: 1025px) {
  .gallery .swiper {
    width: 45%;
    height: 100%;
  }
  .gallery .swiper-slide img {
    width: 70%;
  }
}

.contact {
  padding: 10vh 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3)), url("https://maclapinski.github.io/Thomas_Claret_Actor_Portfolio/img/Thomas 3.jpg") center top;
  background-size: cover;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contact__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
}

.contact .social-icons {
  position: initial;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .about__bio {
    font-size: 1.5rem;
  }
  .projects .project-container {
    flex-direction: row;
    padding: 3rem 2rem;
  }
  .projects .project-container .project-text-container {
    padding: 2rem;
    text-align: left;
  }
  .projects .text-secondary {
    font-size: 3rem;
  }
  .projects .social-icons {
    display: flex !important;
  }
  .reverse {
    flex-direction: row-reverse !important;
  }
  .gallery .swiper-slide img {
    width: 80%;
  }
  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact__list .contact__phone {
    margin-left: auto;
  }
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }
  .projects__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .projects__bio-image {
    height: 50vh;
  }
  main .wrapper {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media screen and (max-width: 767px) {
  .projects .project-container {
    width: 100%;
    padding: 3rem 0;
  }
  .projects .project-container .video-container {
    padding: 0;
    width: 85%;
  }
  .projects .project-container .project-text-container {
    align-items: left;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
  }
  .projects .project-container .swiper {
    width: 85%;
  }
  .about .about__bio-image {
    max-height: 50vh;
  }
}

body {
  background: #ffffff;
  color: #1f1e1e;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}

a {
  color: #1f1e1e;
  text-decoration: none;
}

.text-secondary {
  color: #1e1e1e;
}

header {
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

main {
  height: 100%;
  width: 100%;
}

main .wrapper {
  max-width: 1400px;
}

main .social-icons {
  bottom: 1rem;
  left: 1rem;
}

main .social-icons a {
  padding: 0.4rem;
  transition: all 0.5s ease-in-out;
}

main .social-icons a:hover {
  color: #1a1025;
}

main .mySlides1,
main .mySlides2 {
  display: none;
}

main img {
  vertical-align: middle;
}

footer {
  align-items: end;
  bottom: 1rem;
  color: #1f1e1e;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  padding: 1rem;
  right: 1rem;
  text-align: right;
}
/*# sourceMappingURL=style.css.map */