.gallery{ 
 .text-secondary {
  font-size: 3rem;
  text-align: center;
  margin: 2rem auto;
}
  .swiper {
    width: 100%;
    height: 60%;
}
  .swiper-slide img{
    width: 85%;
  }
}

@media screen and (min-width: 1025px) {
  .gallery {
    .swiper {
      width: 45%;
      height: 100%;
    }
    .swiper-slide img {
      width: 70%;
    }
  }
}
