.projects {
  overflow: hidden;
  padding-top: 2rem;
  .text-secondary {
    font-size: 2rem;
    margin: 3rem auto 0;
  }
  .project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    border-bottom: 2px solid #f8961e;
    padding: 3rem;
    &:last-of-type{
      border-bottom: none;
    }
    .slideshow-container {
      max-width: 1000px;
      padding: 2rem;
      position: relative;
      margin: auto;
      display: flex;
      width: 90%;
    }
    .video-container {
      max-width: 1000px;
      position: relative;
      width: 50%;
      margin: auto;
      .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 2px;
        height: 0;
      }
      .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .project-text-container {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      width: 50%;
      text-align: center;
      h1 {
        margin: 1rem 0;
        font-weight: 600;
      }
    }
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 32px;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a grey background color */
  .prev:hover,
  .next:hover {
    background-color: #f1f1f1;
    color: black;
  }
  footer {
    transform: rotate(90deg) translate(-3rem, -5rem);
  }
}

//slider
.swiper {
  width: 50%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: unset;
}
@media screen and (max-width: 1024px) {
  .swiper-button {
    display: none;
  }
}

//*****************************
